@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

<div>
    <AuthorizeView>
        <Authorized>
            <p>Hello, @context.User.Identity.Name!</p>
            <a href="/.auth/logout">Sign out</a>
        </Authorized>
        <NotAuthorized>
            <a href="/.auth/login/aad">Sign in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

<p>@Message</p>
<input type="text" @bind="Name" />
<button @onclick="Invoke">Invoke</button>

@code {
    private string Name { get; set; }
    private string Message { get; set; }
    private async Task Invoke()
    {
        var res = await Http.GetAsync($"/api/Greet");
        if (res.IsSuccessStatusCode)
        {
            Message = await res.Content.ReadAsStringAsync();
        }
        else
        {
            Message = "Error!!";
        }
    }
}
